Flask==0.12.1
# Flask-Sockets==0.2.1
Flask-Breadcrumbs==0.4.0
numpy==1.14.0
scipy==1.0.0
azure-storage==0.36.0
azure-iothub-device-client==1.3.5
azure-iothub-service-client==1.3.5
Markdown==2.6.11
PyJWT==1.6.1
urllib3==1.22
