{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <form>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-device-modal" >Add device</button>
    </form>
    {% if assets|length %}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Device ID</th>
            <th>Last activity</th>
            <th>Connection state</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for asset in assets %}
          <tr>
            <td><a href="/devices/{{ asset.deviceId }}">{{ asset.deviceId }}</a></td>
            <td>{{ asset.lastActivityTime }}</td>
            <td>{{ asset.connectionState }}</td>
            <td><button class="btn btn-light delete-device-button" data-device="{{ asset.deviceId }}"><i class="fa fa-times" aria-hidden="true"></i></button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="jumbotron">
      <p class="lead">Create IoTHub devices to generate data for model training.</p>
      <hr class="my-4">
      <p>Looks like no devices are currently present in the identity registry.</p>
      <p class="lead">
        <form action="/createDevices" method="POST">
          <button class="btn btn-primary btn-lg" href="#" role="button">Create devices</button>
        </form>
      </p>
    </div>
    {% endif %}
  </div>
  <div class="modal fade" id="new-device-modal" tabindex="-1" role="dialog" aria-labelledby="new-device-modal-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="new-device-modal-label">Create new simulated IoT device</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="device-id" class="control-label">Device ID:</label>
                <input type="text" class="form-control" id="device-id">
              </div>
              <div class="form-group">
                <label for="simulation-properties" class="control-label">Simulation parameters (JSON):</label>
                <textarea rows=5 class="form-control" id="simulation-properties"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
$('#new-device-modal').on('show.bs.modal', function (event) {
  var modal = $(this);
  var defaultParameters = {
    'simulator': 'devices.engines.Engine',
    'h1': 0.85,
    'h2': 0.82
  };
  modal.find('textarea').text(JSON.stringify(defaultParameters, null, 2));
});

$('#new-device-modal .btn-primary').click(function() {
  $("#new-device-modal form").submit();
});

$("#new-device-modal form").on('submit', function(event) {
  event.preventDefault();
  $.ajax({
    url: '/api/devices',
    method: 'PUT',
    data: {
        device_id: $('#device-id').val(),
        simulation_properties: $('#simulation-properties').val()
    }
  }).done(function(response){
    // refresh
  });
});

$('.delete-device-button').click(function() {
  var deviceId = $(this).attr('data-device');
  $.ajax({
    url: '/api/devices/' + deviceId,
    method: 'DELETE'
  }).done(function(response) {
    // refresh
  });
});

</script>
{% endblock %}
