{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div id="health-degradation"></div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>

  function pollLatestData() {
    $.get('/api/devices/{{device_id}}').done(function(data) {
      
      var data = $.map(data.health_history, function(v, index) {
        return {
          type: "scatter",
          mode: "lines",
          name: index,
          x: v.t,
          y: v.h
        }
      });
      var layout = {
        title: 'Health indices',
        xaxis: {
          zeroline: false
        },
        yaxis: {          
          range: [0, 1],
          type: 'linear',
          zeroline: false          
        }
      };

      Plotly.newPlot('health-degradation', data, layout, {displayModeBar: false});
    });
  }

  pollLatestData();

  function setDesiredSpeed(speed) {
    $.ajax({
      type: "POST",
      url: '/api/devices/{{device_id}}',
      data: {
        speed: speed
      }
    });
  }

  function setMode(mode) {
    return $.ajax({
      type: "POST",
      url: '/api/devices/{{device_id}}',
      data: {
        mode: mode
      }
    });
  }

  var timeoutHandle = 0;
  $('#desired-speed-range').on('input', function(val) {
    var value = $(this).val();
    $('#desired-speed').text(value);
    window.clearTimeout(timeoutHandle);
    timeoutHandle = window.setTimeout(setDesiredSpeed, 300, value);
  });

  $('#autopilot-mode').on('change', function() {
    setMode('auto');
  });

  $('#manual-mode').on('change', function() {
    setMode('manual');
  });

</script>
{% endblock %}