{% extends "layout.html" %}
{% block body %}
    <div id="health-donut"></div>
    <h5>Failure predictions</h5>
    <table id="predictions" data-pagination="true" data-search="true"></table>
{% endblock %}

{% block script %}
<script>
    $.get('/api/intelligence').done(function(intelligence) {
        var data = [{
            values: Object.values(intelligence.summary),
            labels: Object.keys(intelligence.summary),
            domain: {
                x: [0, 1]
            },
            marker: {
                colors: ['rgb(34,139,34)', 'rgb(255,165,0)', 'rgb(255,69,0)']
            },
            name: 'Fleet health',
            hoverinfo: 'label+value',
            hole: .4,
            type: 'pie'}];

            var layout = {
                title: 'Fleet health',
                annotations: [
                    {
                        font: {
                            size: 20
                        },
                        showarrow: false,
                        text: '',
                        x: 0.5,
                        y: 0.5
                    }
                ],
                height: 400,
                width: 500
            };
            Plotly.newPlot('health-donut', data, layout, {displayModeBar: false});


            $('#predictions').bootstrapTable({
                columns: [{
                    field: 'machineID',
                    title: 'Machine ID'
                }, {
                    field: 'prediction',
                    title: 'Prediction'
                }, {
                    field: 'date',
                    title: 'Last updated'
                }, {
                    field: 'actions',
                    title: 'Actions'
                }],
                data: intelligence.predictions
            });
        });
</script>
{% endblock %}