{% extends "layout.html" %}
{% block body %}
    <div id="health-donut"></div>
    <h5>Failure predictions</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Machine ID</th>
          <th scope="col">Predicted failure</th>
          <th scope="col">Prediction date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
{% endblock %}

{% block script %}
<script>
var data = [{
    values: [10, 3, 5],
    labels: ['Healthy', 'Need maintenance', 'Broken' ],
    domain: {
      x: [0, 1]
    },
    marker: {
      colors: ['rgb(34,139,34)', 'rgb(255,165,0)', 'rgb(255,69,0)']
    },
    name: 'Fleet health',
    hoverinfo: 'label+percent+name',
    hole: .4,
    type: 'pie'
  }];

  var layout = {
    title: 'Fleet health',
    annotations: [
      {
        font: {
          size: 20
        },
        showarrow: false,
        text: '55.6%',
        x: 0.5,
        y: 0.5
      }
    ],
    height: 400,
    width: 500
  };

  Plotly.newPlot('health-donut', data, layout, {displayModeBar: false});
</script>
{% endblock %}