{% extends "layout.html" %}
{% block body %}
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Register model
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>
          Register last trained model with the <i>Machine Learning Model Management</i> account.
        </p>
        <div>
          <button type="submit" id="register-model" class="btn btn-primary btn-sm">Register</button>
          <button type="submit" id="skip-and-continue-1" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Skip and continue</button>
          <strong style = "visibility:hidden" id= "register-model-status"><h5 class="fa fa-spinner fa-spin" id="smallspinner"></h5>
          Registering Model
          </strong>
        </div>
        <div>
          <small style = "visibility:hidden" id= "register-model-error">
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card" id ="register-manifest-div">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button id ="register-manifest-collapse" class="btn btn-link btn-sm collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Register Manifest
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>
                  Model              
                </th>
                <th>
                  Version              
                </th>
                <th>
                  Driver            
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <code>failure-prediction-model</code>            
                </td>
                <td>
                  <select class="form-control" id="model-version-select">
                  </select>
                </td>
                <td>
                  score.py            
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button type="submit" id="register-manifest" class="btn btn-primary btn-sm">Register</button>
          <button type="submit" id="skip-and-continue-2" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Skip and continue</button>
          <strong style = "visibility:hidden" id = "register-manifest-status"><h5 class="fa fa-spinner fa-spin" id="smallspinner"></h5>
          Registering Manifest
          </strong>
        </div>
        <div>
          <small style = "visibility:hidden" id= "register-manifest-error">
          </small>              
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button id="create-image-collapse" class="btn btn-link btn-sm collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Create Image
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>
                  Manifest              
                </th>
                <th>
                  Version              
                </th>
                <th>
                  Type            
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <code>failure-prediction-manifest</code>            
                </td>
                <td>
                  <select class="form-control" id="manifest-version-select">
                  </select>
                </td>
                <td>
                  Docker            
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button type="submit" id="create-image" class="btn btn-primary btn-sm">Create</button>
          <button type="submit" id="skip-and-continue-3" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Skip and continue</button>
          <strong style = "visibility:hidden" id = "create-image-status"><h5 class="fa fa-spinner fa-spin" id="smallspinner"></h5>
          Creating Image
          </strong>
        </div>
        <div>
          <small style = "visibility:hidden" id= "create-image-error">
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button id = "create-service-collapse" class="btn btn-link btn-sm collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4. Create Service
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th>
                  Image              
                </th>
                <th>
                  Version              
                </th>
                <th>
                  Type            
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <code>failure-prediction-image</code>            
                </td>
                <td>
                  <select class="form-control" id="image-version-select">
                  </select>
                </td>
                <td>
                  Realtime
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Service Name</span>
          </div>
          <input type="text" id="service-name" class="form-control" aria-label="Service Name">
        </div>
        <div>
          <button type="submit" id="create-service" class="btn btn-primary btn-sm">Create</button>
          <button type="submit" id="skip-and-continue-4" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Skip and continue</button>
          <strong style = "visibility:hidden" id = "create-service-status"><h5 class="fa fa-spinner fa-spin" id="smallspinner"></h5>
          Creating Service
          </strong>       
        </div>
        <div>
          <small style = "visibility:hidden" id= "create-service-error">
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button id = "consume-service-collapse" class="btn btn-link btn-sm collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          5. Consume Service for real-time scoring
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive">  
          <table id="services" class="table table-sm table-condensed">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {

    function loadModels() {
      $.get('/operationalization/models').done(function(models) {
        $.each(models, function(id, model) {
          console.log(model.id);
          $('#model-version-select').append(new Option(model.version, model.id));          
          $('#model-version-select').val(model.id);
        });
        if($('#model-version-select').val() == null || $('#model-version-select').val().length == 0) 
        {
          $("#register-manifest-collapse").prop('disabled',true);  
        }
        else
        {
          $("#register-manifest-collapse").prop('disabled',false); 
        }
      });
    }

    function loadManifests() {
      $.get('/operationalization/manifests').done(function(manifests) {
        $.each(manifests, function(id, manifest) {
          console.log(manifest);
          $('#manifest-version-select').append(new Option(manifest.version, manifest.id));          
          $('#manifest-version-select').val(manifest.id);
        });
        if($('#manifest-version-select').val() == null || $('#manifest-version-select').val().length == 0) 
        {
          $("#create-image-collapse").prop('disabled',true);  
        }
        else
        {
          $("#create-image-collapse").prop('disabled',false); 
        }
      });
    }

    function loadImages() {
      $.get('/operationalization/images').done(function(images) {
        $.each(images, function(id, image) {          
          $('#image-version-select').append(new Option(image.version, image.id));          
        });
        if($('#image-version-select').val() == null || $('#image-version-select').val().length == 0) 
        {
          $("#create-service-collapse").prop('disabled',true);  
        }
        else
        {
          $("#create-service-collapse").prop('disabled',false); 
        }
      });
    }

    function loadServices(onReady) {
      $('#services>tbody').empty();

      $.get('/operationalization/services').done(function(services) {
        var display = false
        $.each(services, function(id, service) {
            display = true;
          console.log(service);
          $('#services>tbody').append('<tr><td>' + service.id 
            + '</td><td>' + service.state 
            + '</td><td>' + '<button type="button" class="btn btn-link">Consume</button>' 
            + '</td></tr>');       
        });        
        if(!display)
        {
          $("#consume-service-collapse").prop('disabled',true);
        }
        else
        {
          $("#consume-service-collapse").prop('disabled',false);
        }         
        $('#services button').click(function() {
          var serviceId = $(this).parent().parent().find('td').first().text();
          $(this).parent().parent().find('td').eq(1).text('In Progress');
          $.ajax({
            type: "POST",
            url: '/operationalization/consume',
            data: {
              serviceId: serviceId
            }
          }).done(function(data, textStatus, xhr) {
              loadServices(function() {
              });
          });
        });
        if (onReady) {
          onReady();
        }
      });

    }

    $('#register-model').click(function() {
      var element = this;
      $("#register-model-status").css('visibility', 'visible');
      $("#register-model-error").css('visibility', 'hidden');
      $(element).prop('disabled', true);
      $.post('/operationalization/registerModel').done(function(model) {
        $("#register-model-error").text('Registered Model successfully ');
        console.log(model);
        $('#model-version-select').append(new Option(model.version + ' (New)', model.id));
        $('#model-version-select').val(model.id);
        $('#headingTwo button').click();
        $("#register-manifest-collapse").prop('disabled',false); 
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $("#register-model-error").text('Failure Reason : ' + jqXHR.responseText);
        }).always(function(jqXHR, textStatus, errorThrown) {
            $("#register-model-status").css('visibility', 'hidden');
            $("#register-model-error").css('visibility', 'visible');
            $(element).prop('disabled', false);
        });
    });

    $('#register-manifest').click(function() {
      var element = this;
      $(element).prop('disabled', true);
      $("#register-manifest-error").css('visibility', 'hidden');
      $("#register-manifest-status").css('visibility', 'visible');
      $.ajax({
        type: "POST",
        url: '/operationalization/registerManifest',
        data: {
          modelId: $('#model-version-select').val()
        },
        dataType: 'json'
      }).done(function(manifest) {
          $("#register-manifest-error").text('Registered Manifest successfully ');
          console.log(manifest);
          $('#manifest-version-select').append(new Option(manifest.version + ' (New)', manifest.id));
          $('#manifest-version-select').val(manifest.id);
          $('#headingThree button').click();
          $("#create-image-collapse").prop('disabled',false);
        }).fail(function (jqXHR, textStatus, errorThrown) {            
            $("#register-manifest-error").text('Failure Reason : ' + jqXHR.responseText)
        }).always(function(jqXHR, textStatus, errorThrown) {
            $("#register-manifest-status").css('visibility', 'hidden');
            $("#register-manifest-error").css('visibility', 'visible');
            $(element).prop('disabled', false);
        });
      });

    function pollOperation(operationId, onSuccess, onFailure) {
      $.get('operationalization/operations/' + operationId).done(function(operationStatus) {
        if (operationStatus.state === 'Running') {
          window.setTimeout(function() {pollOperation(operationId, onSuccess, onFailure)}, 3000);
        } else if (operationStatus.state === 'Succeeded') {
          if (onSuccess) onSuccess(operationStatus);
        } else {
          if (onFailure) onFailure(operationStatus);
        }
      });
    }

    function getResourceIdFromUrl(url) {
      return url.replace(/.+\/([^\/])/, "$1");
    }

    $('#create-image').click(function() {
      var element = this;
      $(element).prop('disabled', true);
      $("#create-image-error").css('visibility', 'hidden');
      $("#create-image-status").css('visibility', 'visible');
      $.ajax({
        type: "POST",
        url: '/operationalization/createImage',
        data: {
          manifestId: $('#manifest-version-select').val()
        }
      }).done(function(data, textStatus, xhr) {   
        var operationId = getResourceIdFromUrl(xhr.getResponseHeader('Operation-Location'));
        pollOperation(operationId, function(operationStatus) {  
          var resourceId = getResourceIdFromUrl(operationStatus.resourceLocation);        
          $.get('/operationalization/images/' + resourceId).done(function(image) {            
            $('#image-version-select').prepend(new Option(image.version + ' (New)', image.id));
            $('#image-version-select').val(image.id);
            $("#create-image-error").text('Created Image successfully ');
            $("#create-service-collapse").prop('disabled',false); 
            $('#headingFour button').click();
          });
        });     
      }).fail(function (jqXHR, textStatus, errorThrown) {         
          $("#create-image-error").text('Failure Reason : ' + jqXHR.responseText)
      }).always(function(jqXHR, textStatus, errorThrown) {
          $(element).prop('disabled', false);
          $("#create-image-status").css('visibility', 'hidden');
          $("#create-image-error").css('visibility', 'visible');
      });
    });
    
    $('#create-service').click(function() {
      var element = this;
      $("#create-service-error").css('visibility', 'hidden');
      $(element).prop('disabled', true);
      $("#create-service-status").css('visibility', 'visible');
      $.ajax({
        type: "POST",
        url: '/operationalization/createService',
        data: {
          imageId: $('#image-version-select').val(),
          name: $('#service-name').val()
        }
      }).done(function(data, textStatus, xhr) {
          $("#create-servicee-error").text('Created Service successfully ');
          loadServices(function() {
            $('#headingFive button').click();
        });
        $("#consume-service-collapse").prop('disabled',false);
      }).fail(function (jqXHR, textStatus, errorThrown) {         
          $("#create-service-error").text('Failure Reason : ' + jqXHR.responseText)
      }).always(function(jqXHR, textStatus, errorThrown) {
          $(element).prop('disabled', false);
          $("#create-service-status").css('visibility', 'hidden');
          $("#create-service-error").css('visibility', 'visible');
      });
    });

    loadModels();
    loadManifests();
    loadImages();
    loadServices();
  });
</script>
{% endblock %}