{% extends "layout.html" %}

{% block body %}
    <div>
        <p>
        <i><b>Featurization</b></i>  
        </p>
    </div>
    {% if jobDetails.Status == "Cluster_NotCreated" or jobDetails.Status == "Cluster_Failed" %}
    <form action = "/startFeaturizationJob" method = "POST">

        <div class="form-group has-feedback">
            <label for="token">DataBricks Personal Access Token</label>
            <input style="font-size:10pt;height:30px;width:300px;" type ="password" class="form-control" id="token" name="token" required>
        </div>
        <div>           
            <button type="submit" id="start-job-button" class="btn btn-primary">Start Featurization</button>
        </div>
    </form>
    {% endif %}
    {% if jobDetails.Status == "Cluster_Failed" %}    
    <div>
      <small class="text-danger">
        Cluster Creation Failed : {{jobDetails.Message}}
      </small>
      </div>
    {% endif %}
        
    {% if jobDetails.Status != "Cluster_NotCreated" and jobDetails.Status != "Cluster_Failed"%}  
    <div>                     
        <small>
            Featurization Job is running
        </small>            
    </div>
    {% endif %}
{% endblock %}

{% block script %}
<script>
    window.setInterval(function() {
        if( '{{jobDetails.Status}}' == "Cluster_Creating")
        {
            location.reload();
        }
    }, 10000);
</script>  
{% endblock %}