<!doctype html>

<html lang="en">
<head>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">  
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
  <meta charset="utf-8">
  <title>Predictive Maintenance Dashboard</title>
  <style>
    #setup-aad {
      display: none;
    }
    #spinner {
      font-size: 50px;
    }
  </style>
</head>

<body>  
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">One last thing...</h1>
          <p class="lead">
            Follow <a target="_blank" href="https://docs.microsoft.com/en-us/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication">
            these intructions</a> to enable <i>Azure Active Directory</i> login for <a target="_blank" href="https://ms.portal.azure.com/#@{{ tenant_name }}/resource/subscriptions/{{ subscription }}/resourceGroups/{{ resource_group }}/providers/Microsoft.Web/sites/{{ web_site_name }}/authv2"> your Dashboard application</a>.</p>
            <p>You can create a new application or use an existing one, but please make sure to enable API access for <i>Windows Azure Service Management</i> as illustrated below.</p>            
            <img src="{{ url_for('static',filename='service_management_api.PNG') }}"/>
            <p>This step is necessary to ensure the security of your data and prevent unauthorized accessed to your Azure account.</p>
            <a href="/" type="button" class="btn btn-primary btn-lg">Done</a>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>            
</body>
</html>
