{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Tag</th>
            <th>Kind</th>
            <th>Date of Installation</th>
            <th>Model</th>
          </tr>
        </thead>
        <tbody>
          {% for asset in assets %}
          <tr>
            <td><a href="/telemetry/{{ asset.PartitionKey }}/{{ asset.RowKey }}">{{ asset.RowKey }}</a></td>
            <td>{{ asset.PartitionKey }}</td>
            <td>{{ asset.Installed.date() }}</td>
            <td>{{ asset.Model }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}