{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card-group">            
        <div class="card">
          <div class="card-body">
            <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
              <label class="btn btn-light btn-sm active">
                <input type="radio" name="options" id="autopilot-mode" autocomplete="off" checked> Autopilot
              </label>        
              <label class="btn btn-light btn-sm">
                <input type="radio" name="options" id="manual-mode" autocomplete="off"> Manual
              </label>
            </div>            
            <h6 class="card-title">Speed</h6>
            <div>
              <p>
                <span id="desired-speed"></span> RPM
              </p>
            </div>
            <form class="form-inline">
              <div class="form-group">
                <label for="desired-speed-range"><i>Set speed</i>: </label>
                  <input id="desired-speed-range" type="range" min="60" max="1500">                
              </div>
            </form>          
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Ambient temperature</h6>
            <div>
              <p>
                <span id="ambient-temperature"></span> °C
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Ambient pressure</h6>
            <div>
              <p>
                <span id="ambient-pressure"></span> kPa
              </p>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <div id="sensor-stream"></div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>  
  var layout = {
    title: 'Real-time sensor data',
    autosize: true,    
    height: 800,    
    xaxis: {
      type: 'date',
      fixedrange: true      
    },
    yaxis: {
      domain: [0, 0.30],
      side: 'right',
      zeroline: false
    },
    legend: {
      traceorder: 'reversed'
    },
    yaxis2: {
      domain: [0.35, 0.65],
      side: 'right',
      zeroline: false,
      tickfont: {
        color: '#A00'
      }

    },
    yaxis3: {
      domain: [0.70, 1],
      side: 'right',
      zeroline: false
    },
    legend: {
      "orientation": "h", 
      y: 100
    },
    xaxis2: {
      anchor: 'y2',
      type: 'date',
      fixedrange: true,
      showticklabels: false      
    },
    xaxis3: {
      anchor: 'y3',
      type: 'date',
      fixedrange: true,
      showticklabels: false
    },
  };

  var trace1 = {
    name: 'Speed (RPM)',
    x: [],
    y: [],
    mode: 'lines'
  };
  
  var trace2 = {
    name: 'Temperature (°C)',
    x: [],
    y: [],
    xaxis: 'x2',    
    yaxis: 'y2',
    mode: 'lines'
  };
  
  var trace3 = {
    name: 'Pressure (kPa)',
    x: [],
    y: [],
    xaxis: 'x3',
    yaxis: 'y3',
    mode: 'lines'
  };

  var data = [trace1, trace2, trace3];

  Plotly.newPlot('sensor-stream', data, layout, {displayModeBar: false});

  function pollLatestData() {
    $.get('/twin/{{device_id}}').done(function(twin) {
      var timestamp = Date.parse(twin.properties.reported.$metadata.$lastUpdated); 
      var desiredProperties = twin.properties.desired;
      var reportedProperties = twin.properties.reported;      
      
      var time = new Date();
      console.log(time);
      
      var update = {
        x: [[timestamp],[timestamp],[timestamp]],
        y: [[reportedProperties.speed],[reportedProperties.temperature],[reportedProperties.pressure]]
      };
      
      if (!$('#desired-speed').text()) {
        $('#desired-speed').text(desiredProperties.speed);
        $('#desired-speed-range').val(desiredProperties.speed);
      }
      
      $('#ambient-temperature').text(reportedProperties.ambientTemperature);
      $('#ambient-pressure').text(reportedProperties.ambientPressure);
    
      var rangeMin = new Date(time.getTime() - 30000);
    
      layout.xaxis.range = layout.xaxis2.range = layout.xaxis3.range = [rangeMin, time];
      Plotly.relayout('sensor-stream', layout);
      
      Plotly.extendTraces('sensor-stream', update, [0, 1, 2]);
    }).always(function() {
      window.setTimeout(pollLatestData, 1000);
    });
  }

  pollLatestData();
  
  function setDesiredSpeed(speed) {
    $.ajax({
      type: "POST",
      url: '/twin/{{device_id}}',
      data: {
        speed: speed
      }
    })
  }
  
  var timeoutHandle = 0;
  $('#desired-speed-range').on('input', function(val) {
    var value = $(this).val();
    $('#desired-speed').text(value);
    window.clearTimeout(timeoutHandle);
    timeoutHandle = window.setTimeout(setDesiredSpeed, 300, value);    
  });
</script>
{% endblock %}